.314_138 { 
	overflow:hidden;
}
.e314_138 { 
	background-color:rgba(194.3666535615921, 183.4583356976509, 238.00000101327896, 1);
	width:100%;
	height:100%;
	position:absolute;
}
.e314_139 { 
	width:486px;
	height:315px;
	position:absolute;
	left:111px;
	top:25px;
}
.e314_140 { 
	width:486px;
	height:315px;
	position:absolute;
	left:0px;
	top:0px;
}
.e314_141 { 
	color:rgba(14.875000063329935, 14.007291924208403, 14.007291924208403, 1);
	width:486px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Outfit;
	text-align:left;
	font-size:70px;
	letter-spacing:0;
}
.e314_142 { 
	color:rgba(14.875000063329935, 14.007291924208403, 14.007291924208403, 1);
	width:419px;
	height:51px;
	position:absolute;
	left:0px;
	top:264px;
	font-family:Outfit;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
}
.e314_143 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:960px;
	height:960px;
	position:absolute;
	left:640px;
	top:0px;
}
.e314_147 { 
	background-color:rgba(186.41792088747025, 181.47057116031647, 243.31249594688416, 1);
	width:320px;
	height:57px;
	position:absolute;
	left:1148px;
	top:14px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e327_82 { 
	background-color:rgba(223.6339446902275, 222.93906837701797, 231.62500709295273, 1);
	width:320px;
	height:57px;
	position:absolute;
	left:111px;
	top:423px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e327_83 { 
	background-color:rgba(223.6339446902275, 222.93906837701797, 231.62500709295273, 1);
	width:320px;
	height:57px;
	position:absolute;
	left:111px;
	top:508px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e327_84 { 
	background-color:rgba(223.6339446902275, 222.93906837701797, 231.62500709295273, 1);
	width:320px;
	height:57px;
	position:absolute;
	left:111px;
	top:593px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e327_85 { 
	background-color:rgba(223.6339446902275, 222.93906837701797, 231.62500709295273, 1);
	width:320px;
	height:57px;
	position:absolute;
	left:111px;
	top:678px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e314_150 { 
	color:rgba(0, 0, 0, 1);
	width:241px;
	height:28px;
	position:absolute;
	left:1198px;
	top:25px;
	font-family:Outfit;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e319_95 { 
	color:rgba(99.87501114606857, 92.38438189029694, 92.38438189029694, 1);
	width:193px;
	height:28px;
	position:absolute;
	left:161px;
	top:607px;
	font-family:Outfit;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e327_87 { 
	color:rgba(99.87501114606857, 92.38438189029694, 92.38438189029694, 1);
	width:54px;
	height:28px;
	position:absolute;
	left:246px;
	top:692px;
	font-family:Outfit;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e327_88 { 
	color:rgba(99.87501114606857, 92.38438189029694, 92.38438189029694, 1);
	width:174px;
	height:28px;
	position:absolute;
	left:172px;
	top:522px;
	font-family:Outfit;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e327_89 { 
	color:rgba(99.87501114606857, 92.38438189029694, 92.38438189029694, 1);
	width:305px;
	height:28px;
	position:absolute;
	left:124px;
	top:437px;
	font-family:Outfit;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
