.314_138 { 
	overflow:hidden;
}
.e314_138 { 
	background-color:rgba(33.10747146606445, 11.10311821103096, 121.12499848008156, 1);
	width:100%;
	height:100%;
	position:absolute;
}
.e314_139 { 
	width:486px;
	height:315px;
	position:absolute;
	left:111px;
	top:229px;
}
.e314_140 { 
	width:486px;
	height:315px;
	position:absolute;
	left:0px;
	top:0px;
}
.e314_141 { 
	color:rgba(255, 255, 255, 1);
	width:486px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Outfit;
	text-align:left;
	font-size:70px;
	letter-spacing:0;
}
.e314_142 { 
	color:rgba(255, 255, 255, 1);
	width:419px;
	height:51px;
	position:absolute;
	left:0px;
	top:264px;
	font-family:Outfit;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
}
.e314_143 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:960px;
	height:960px;
	position:absolute;
	left:640px;
	top:0px;
}
.e314_146 { 
	background-color:rgba(130.30136168003082, 128.16849052906036, 234.81250405311584, 1);
	width:286px;
	height:43px;
	position:absolute;
	left:993px;
	top:806px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e314_147 { 
	background-color:rgba(186.41792088747025, 181.47057116031647, 243.31249594688416, 1);
	width:180px;
	height:57px;
	position:absolute;
	left:1148px;
	top:14px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e314_148 { 
	background-color:rgba(186.41792088747025, 181.47057116031647, 243.31249594688416, 1);
	width:180px;
	height:57px;
	position:absolute;
	left:1350px;
	top:14px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e314_149 { 
	color:rgb(226, 217, 217);
	width:105px;
	height:28px;
	position:absolute;
	left:1388px;
	top:25px;
	font-family:Outfit;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e314_150 { 
	color:rgba(0, 0, 0, 1);
	width:81px;
	height:28px;
	position:absolute;
	left:1198px;
	top:25px;
	font-family:Outfit;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e314_151 { 
	color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:230px;
	height:28px;
	position:absolute;
	left:1026px;
	top:810px;
	font-family:Outfit;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e314_152 { 
	width:603px;
	height:165px;
	position:absolute;
	left:847px;
	top:142px;
}
/*.e314_153 { 
	width:586px;
	height:146px;
	position:absolute;
	left:0px;
	top:19px;
}*/
.e314_154 { 
	width:549px;
	height:146px;
	position:absolute;
	left:0px;
	top:0px;
}
.e314_155 { 
	color:rgba(5.820373306050897, 5.418748632073402, 25.50000037997961, 1);
	width:549px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Outfit;
	text-align:left;
	font-size:75px;
	letter-spacing:0;
}
.e314_156 { 
	color:rgba(5.820373306050897, 5.418748632073402, 25.50000037997961, 1);
	width:419px;
	height:51px;
	position:absolute;
	left:0px;
	top:95px;
	font-family:Outfit;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
}
.e314_160 { 
	width:587px;
	height:108px;
	position:absolute;
	left:0px;
	top:194px;
}
.e319_92 { 
	color:rgba(0, 0, 0, 1);
	width:75px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Outfit;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e314_162 { 
	background-color:rgba(246.49999290704727, 236.22915923595428, 236.22915923595428, 1);
	width:587px;
	height:56px;
	position:absolute;
	left:0px;
	top:52px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e319_82 { 
	width:587px;
	height:108px;
	position:absolute;
	left:0px;
	top:350px;
}
.e319_93 { 
	color:rgba(0, 0, 0, 1);
	width:82px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Outfit;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e319_84 { 
	background-color:rgba(246.49999290704727, 236.22915923595428, 236.22915923595428, 1);
	width:587px;
	height:56px;
	position:absolute;
	left:0px;
	top:52px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e319_85 { 
	width:587px;
	height:108px;
	position:absolute;
	left:0px;
	top:506px;
}
.e319_94 { 
	color:rgba(0, 0, 0, 1);
	width:78px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Outfit;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e319_87 { 
	background-color:rgba(246.49999290704727, 236.22915923595428, 236.22915923595428, 1);
	width:587px;
	height:56px;
	position:absolute;
	left:0px;
	top:52px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e319_95 { 
	color:rgba(255, 255, 255, 1);
	width:220px;
	height:28px;
	position:absolute;
	left:211px;
	top:733px;
	font-family:Outfit;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
