.314_109 { 
	overflow:hidden;
}
.e314_109 { 
	background-color:rgba(33.10747146606445, 11.10311821103096, 121.12499848008156, 1);
	width:100%;
	height:100%;
	position:absolute;
}
.e314_110 { 
	width:486px;
	height:315px;
	position:absolute;
	left:111px;
	top:229px;
}
.e314_111 { 
	width:486px;
	height:315px;
	position:absolute;
	left:0px;
	top:0px;
}
.e314_112 { 
	color:rgba(255, 255, 255, 1);
	width:486px;
	height:264px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Outfit;
	text-align:left;
	font-size:70px;
	letter-spacing:0;
}
.e314_113 { 
	color:rgba(255, 255, 255, 1);
	width:419px;
	height:51px;
	position:absolute;
	left:0px;
	top:264px;
	font-family:Outfit;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
}
.e314_114 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:960px;
	height:960px;
	position:absolute;
	left:640px;
	top:0px;
}
.e314_115 { 
	color:rgba(0, 0, 0, 1);
	width:188px;
	height:28px;
	position:absolute;
	left:930px;
	top:803px;
	font-family:Outfit;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e314_116 { 
	color:rgba(0, 0, 0, 1);
	width:154px;
	height:28px;
	position:absolute;
	left:1140px;
	top:803px;
	font-family:Outfit;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e314_117 { 
	background-color:rgba(130.30136168003082, 128.16849052906036, 234.81250405311584, 1);
	width:233px;
	height:43px;
	position:absolute;
	left:993px;
	top:698px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e314_118 { 
	background-color:rgba(186.41792088747025, 181.47057116031647, 243.31249594688416, 1);
	width:180px;
	height:57px;
	position:absolute;
	left:1148px;
	top:14px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e314_119 { 
	background-color:rgba(186.41792088747025, 181.47057116031647, 243.31249594688416, 1);
	width:180px;
	height:57px;
	position:absolute;
	left:1350px;
	top:14px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e314_120 { 
	color:rgba(0, 0, 0, 1);
	width:105px;
	height:28px;
	position:absolute;
	left:1388px;
	top:25px;
	font-family:Outfit;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e314_121 { 
	color:rgba(0, 0, 0, 1);
	width:81px;
	height:28px;
	position:absolute;
	left:1198px;
	top:25px;
	font-family:Outfit;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e314_122 { 
	color:rgba(255, 255, 255, 1);
	width:81px;
	height:28px;
	position:absolute;
	left:1069px;
	top:705px;
	font-family:Outfit;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e314_123 { 
	width:603px;
	height:351px;
	position:absolute;
	left:847px;
	top:142px;
}
.e314_124 { 
	width:586px;
	height:213px;
	position:absolute;
	left:0px;
	top:19px;
}
.e314_125 { 
	width:610px;
	height:146px;
	position:absolute;
	left:0px;
	top:0px;
}
.e314_126 { 
	color:rgba(5.820373306050897, 5.418748632073402, 25.50000037997961, 1);
	width:610px;
	height:95px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Outfit;
	text-align:left;
	font-size:75px;
	letter-spacing:0;
}
.e314_127 { 
	color:rgba(5.820373306050897, 5.418748632073402, 25.50000037997961, 1);
	width:419px;
	height:51px;
	position:absolute;
	left:0px;
	top:95px;
	font-family:Outfit;
	text-align:left;
	font-size:34px;
	letter-spacing:0;
}
.e314_128 { 
	width:587px;
	height:108px;
	position:absolute;
	left:0px;
	top:194px;
}
.e314_129 { 
	color:rgba(103.06249290704727, 94.04452800750732, 94.04452800750732, 1);
	width:70px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Outfit;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e314_130 { 
	background-color:rgba(246.49999290704727, 236.22915923595428, 236.22915923595428, 1);
	width:587px;
	height:56px;
	position:absolute;
	left:0px;
	top:52px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e314_131 { 
	width:587px;
	height:108px;
	position:absolute;
	left:0px;
	top:350px;
}
.e314_132 { 
	color:rgba(103.06249290704727, 94.04452800750732, 94.04452800750732, 1);
	width:120px;
	height:28px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Outfit;
	text-align:left;
	font-size:28px;
	letter-spacing:0;
}
.e314_133 { 
	background-color:rgba(246.49999290704727, 236.22915923595428, 236.22915923595428, 1);
	width:587px;
	height:56px;
	position:absolute;
	left:0px;
	top:52px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
